
<div class="ui footer secondary segment">
  <div class="ui center aligned container">
    <p>
     Animation blog built for Anime lovers by <span class = "ui basic label"> Nasri <span>
    </p>
  </div>

	<script type= "text/javascript" src = "/main.js"> </script>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
	</body>


 <html>