<div class="ui footer secondary segment">
  <div class="ui center aligned container">
    <p>
     Animation blog built for Anime lovers by <span class = "ui basic label"> Nasri <span>
    </p>
  </div>


	</body>


 <html>